.card {
  width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 37px;
  box-shadow: 0 4px 9px 0 rgba(56, 55, 55, 0.5);
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4a0ecb2e-f513-4d54-8eda-88da38fefef9/dcotosp-79c1a8c8-ce0d-4d1f-8f7d-779f81e4cd93.png/v1/fill/w_1024,h_768,q_80,strp/desert_hills_by_xxhidekanexx_dcotosp-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NjgiLCJwYXRoIjoiXC9mXC80YTBlY2IyZS1mNTEzLTRkNTQtOGVkYS04OGRhMzhmZWZlZjlcL2Rjb3Rvc3AtNzljMWE4YzgtY2UwZC00ZDFmLThmN2QtNzc5ZjgxZTRjZDkzLnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.dN8p9GWkAqTMqYkDxb1QMJJ7-8LF3Ri7zipUr_e_swk");
  background-clip: padding-box;
  border-radius: 3%;
}

h1 {
  text-align: center;
  font-size: 47px;
}

strong#temperature {
  position: relative;
  left: 176px;
  top: 24px;
  font-size: 60px;
}

hr {
  background-image: linear-gradient(90deg, #536588, #aa76bbcb, #536588);
  height: 1.5px;
  margin-top: 2px;
  width: 77%;
}
img#icon {
  display: block;
  position: relative;
  right: -3px;
  bottom: 59px;
  margin: 0 auto;
  width: 130px;
  padding-bottom: 11px;
  padding-top: 35px;
}

h5 {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.units {
  position: relative;
  left: 175px;
  bottom: 9px;
  font-size: 16px;
  color: #a885bd;
}

.unitLink {
  color: #212529;
  font-weight: bold;
}
.unitLink:hover {
  color: #463853;
  font-size: 18px;
  font-weight: bold;
}
.units .active {
  font-style: italic;
  font-size: 19px;
  text-decoration: none;
}

.temp-info {
  margin-left: -14px;
  margin-top: 18px;
  list-style-type: circle;
  font-size: 16px;
}

p.greeting {
  text-align: center;
  font-size: 20px;
  margin-top: 7px;
}

p#current-date {
  text-align: center;
  font-size: 17px;
}
.card-body {
  font-family: "Comfortaa", cursive;
}
.form-group {
  display: inline-block;
  width: 70%;
  margin-left: 35px;
  margin-bottom: 3px;
}

.btn-search {
  margin-left: 22px;
  background: #af95c7;
  border-color: #ffff;
  padding-left: 19px;
  padding-right: 19px;
  color: white;
}
.btn-search:hover {
  background: #8675a9;
  border-color: #bfd6fc;
}

.btn-current {
  background: #af95c7;
  border-color: #ffff;
  color: white;
}
.btn-current:hover {
  background: #8675a9;
  border-color: #bfd6fc;
}

p#description {
  text-align: center;
  color: #a885bd;
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: rgb(0, 0, 0) 0px 0px 12px;
}

ul.hourly-forecast {
  display: block;
  margin: 0 auto;
  column-count: 1;
  font-size: 16px;
  list-style-type: none;
  margin-top: -55px;
  margin-bottom: -3px;
  padding-left: 10px;
  margin-left: 8px;
  text-shadow: rgb(255, 255, 255) 0px 0px 20px;
}

img#forecastIcon {
  display: block;
  margin: 0 auto;
  width: 60px;
  padding: 0;
  margin-left: -13px;
  margin-bottom: -5px;
  margin-top: -5px;
}
strong.maxDegree {
  font-size: 15px;
  text-shadow: none;
  color: #1e1f22;
}
span.minDegree {
  font-size: 14px;
  text-shadow: none;
}
