.card {
  width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 37px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.3);
  background-color: rgb(196, 190, 212);
}

h1 {
  text-align: center;
  font-size: 45px;
}

strong#temperature {
  position: relative;

  left: 185px;
  top: 17px;
  font-size: 50px;
}

hr {
  background-image: linear-gradient(90deg, #637394, #aa76bbcb, #637394);
  height: 1.5px;
  margin-top: 2px;
  width: 77%;
}
img {
  display: block;
  position: relative;
  right: -3px;
  bottom: 45px;
  margin: 0 auto;
  width: 110px;
  padding-bottom: 20px;
  padding-top: 35px;
}

h5 {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.units {
  position: relative;
  left: 187px;
  top: -10px;
  font-size: 17px;
  color: rgb(175, 129, 207);
}

.unitLink {
  color: rgb(98, 108, 145);
  font-weight: bold;
}
.unitLink:hover {
  color: #2f3438;
  font-size: 19px;
  font-weight: bold;
}

.temp-info {
  margin-left: -20px;
  margin-top: 18px;
  list-style-type: circle;
  font-size: 15px;
}

p.greeting {
  text-align: center;
  font-size: 20px;
  margin-top: 7px;
}

p#current-date {
  text-align: center;
  font-size: 16px;
}
.card-body {
  font-family: "Comfortaa", cursive;
}
.form-group {
  display: inline-block;
  width: 70%;
  margin-left: 35px;
  margin-bottom: 3px;
}

.btn-search {
  margin-left: 8px;
  background: #af95c7;
  border-color: #ffff;
  padding-left: 19px;
  padding-right: 19px;
  color: white;
}
.btn-search:hover {
  background: #8675a9;
  border-color: #bfd6fc;
}

.btn-current {
  background: #af95c7;
  border-color: #ffff;
  color: white;
}
.btn-current:hover {
  background: #8675a9;
  border-color: #bfd6fc;
}

p#description {
  text-align: center;
  color: rgb(151, 108, 179);
  font-size: 20px;
  margin-bottom: 10px;
}

.sunrise-set {
  text-align: center;
  margin-top: -10px;
}

ul.hourly-forecast {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  column-count: 7;
  list-style-type: none;
  margin-top: -50px;
  padding: 0;
}

.fas {
  font-size: 23px;
}